* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 336px;
  height: 262px;
  overflow: hidden;
  background-color: #000;
}

iframe, canvas {
  image-rendering: auto;
  width: 1344px !important;
  height: 1048px !important;
  transform: scale(0.25);
  transform-origin: top left;
}
