* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 1344px;
  height: 1048px;
  overflow: hidden;
  background-color: #000;
}

iframe, canvas {
  image-rendering: auto;
}
